import React from 'react';
<%=#if cssModule %>
import './<%= lowercase name%>.module.<%= cssModule %>';
<%=/if %>

function <%= classify name %>() {
  return <div />;
};

export default <%= classify name %>;
